@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('HelveticaNeueLTPro-Md.eot');
  src: url('HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTPro-Md.woff2') format('woff2'),
       url('HelveticaNeueLTPro-Md.woff') format('woff'),
       url('HelveticaNeueLTPro-Md.ttf') format('truetype'),
       url('HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

