@font-face {
  font-family: 'HelveticaNeueLTPro-It';
  src: url('HelveticaNeueLTPro-It.eot');
  src: url('HelveticaNeueLTPro-It.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTPro-It.woff2') format('woff2'),
       url('HelveticaNeueLTPro-It.woff') format('woff'),
       url('HelveticaNeueLTPro-It.ttf') format('truetype'),
       url('HelveticaNeueLTPro-It.svg#HelveticaNeueLTPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}

